In [9]:
import sys
import numpy as np
import pandas as pd
import importlib
import plot_graphs

sys.path.append('src/')

# import re
# import nltk
# import string
# import codecs
# import unicodedata

# from pyvis.network import Network

# import matplotlib.pyplot as plt
# # import seaborn as sns
# # warnings.filterwarnings('ignore')
# %matplotlib inline

In [10]:
plot_graphs = importlib.reload(plot_graphs)

In [4]:
df_graph = pd.read_csv('data/graph_2018_by_doc.csv')
# df_graph = pd.read_csv('data/graph_2019_by_doc.csv')

In [5]:
df_graph = df_graph[['src', 'dst', 'index']]
df_graph.columns = ['src', 'dst', 'edge']

In [6]:
df_graph

       src           dst  edge
0    ababa       explain     1
1    ababa            go     1
2    ababa          kill     1
3    abang         carry     1
4    abang       destroy     1
..     ...           ...   ...
804    x94        appear    12
805   yobe     abduction     3
806   yobe  disagreement     1
807   yobe        region     1
808   yobe         state     1

[809 rows x 3 columns]

In [12]:
net = plot_graphs.create_graph(df_graph, edges_norm=False, lower_bound_edges=8)  
# plot_graph(net, 'graph_2018_all')
# plot_graph(net, 'graph_2018_lbe_5')
plot_graphs.plot_graph(net, 'graphs/graph_2018_lbe_8')
# plot_graph(net, 'graph_2019_all')
# plot_graph(net, 'graph_2019_all')
# plot_graph(net, 'graph_2019_all_lbe_5')
# plot_graph(net, 'graph_2019_all_lbe_10')

               edge
src   dst
ababa explain     1
      go          1
      kill        1
abang carry       1
      destroy     1

lenght src nodes 10 8
(745, 1)